*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: auto;

    font-family: 'Satoshi', sans-serif;
    background-color: #0a0916;
    scroll-behavior: smooth;
}

header{
    color: var(--text-color);
}

:root{
    --text-color: #e9e8f0;
    --text-gray-color: #a8a7ad;
    --bg-color: #0a0916;
    --red-color: #FF605C;
    --yellow-color: #FFBD44;
    --green-color: #00CA4C;
}

/*=======HEADER========*/
.pixel-bg{
    background-position-y: 130%;
}

.sob_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;

    background: linear-gradient(#0a0916, #0a09162a);
}

.content{
    font-family: JetBrains Mono;
    font-weight: bolder;
    letter-spacing: 5px;
}
/*=======CONTENT INFO (ALL PAGE)========*/
.content-info{
    font-family: JetBrains Mono;
    font-weight: bolder;
    letter-spacing: 2px;
}
/*=======CONTENT GERAL========*/
.content-geral p{
    font-family: 'Satoshi', sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
}

/*========FORMACOES========*/
.formacao-atual{
    background-color: #e9e8f0;
}

.dot{
    background-color: #e9e8f0;
}

.form-content{
    font-family: 'Satoshi', sans-serif;
}

.form-content p{
    font-size: 14px;
    color: var(--text-gray-color);
}

.form-atual-content{
    font-family: 'Satoshi', sans-serif;
    color: var(--bg-color);
}

.form-atual-content p{
    font-size: 14px;
}

.formacao{
    transition: 0.2s;
}

.formacao:hover{
    scale: 1.1;
}

/*=======BALL MAC========*/
.ball-g{
    background-color: var(--green-color);
}
.ball-y{
    background-color: var(--yellow-color);
}
.ball-r{
    background-color: var(--red-color);
}

.sharp{
    color: var(--red-color);
}

/*=======SOBRE TEXT========*/
.content-sobre{
    background-color: var(--bg-color);
}

.redes{
    color: var(--text-gray-color);
}

/*========PROJETOS========*/
.projeto{
    background-color: var(--bg-color);
}

.darken{
    background-color: #0a091659;
}

.card{
    transition: 0.2s;
}

.card:hover {
    scale: 1.1;
    background-color: var(--text-color);
    color: var(--bg-color);
}

/*========FOOTER========*/
footer{
    background-color: #06050c;
}

footer h3, footer a{
    color: var(--text-gray-color);
}

main{
    color: var(--text-color);
}